body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

$primary-color-text: #c6538c;
$secondary-color-text: #a07771;
$primary-color-button: #c6538c;
$secondary-color-button: #c6538c;
$primary-color-background: #aad157;
$secondary-color-background: #8bb42e;
